<div class="section section-lv1">

<div class="section section-lv2">
<h2><%= "ログイン" %></h2>
<% form_for :user, :url=>mobile_auth_path do |f| -%>
<div>
<%= submit_tag '簡単ログイン' %>
</div>
<% end -%>
</div>

</div>