@charset "utf-8";
#header,
#container,
#footer {
  color: #402000;
  width: 824px;
  margin: 0 auto;
  border-left: 1px solid #663300;
  border-right: 1px solid #663300;
  border-bottom: 1px solid #663300;
}
/* header common */
#header {
  height:124px;
  padding-top:8px;
}
#header #current_login {
  float: right;
  margin-right: 10px;
  display: inline;
}
#header #title a {
  text-decoration: none;
  padding: 10px;
  color: #663300;
  font-size: 36px;
  font-weight: bold;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
}
#header #title span {
  text-align: left;
  padding-left: 20px;
  margin: 5px auto 0;
  display: block;
  width: 800px;
  line-height: 1.4;
  color: #FFFFFF;
  background-color: #663300;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 5px;
}
/* flash[:notice] */
#header #notice {
  margin-top: 5px;
  margin-left: 20px;
  color: green
}
/* topic_path */
#header #topic_path {
  margin-top: 5px;
  margin-left: 20px;
}
/* container common */
#container .section-lv1 {
  padding: 20px;
}
#container .section-lv1 h1 {
  padding-bottom: 20px;
  font-size: 220%;
}
#container .section-lv2 h2 {
  font-size: 140%;
}
#container .section-lv3 h3 {
  font-size: 110%;
}
#container form p {
  padding-bottom: 10px;
}
/* categories_index */
body.categories_index #container .colmun {
  width:249px;
  margin-left: 10px;
  float:left;
  border: 1px solid #BF6000;
  display: inline;/* for IE */
}
body.categories_index #container .section-lv2 h2 {
  padding: 2px 5px;
  background-color: #BF6000;
  font-weight: bold;
}
body.categories_index #container .section-lv2 h2 a{
  color: #f0f0f0;
  text-decoration: none;
}
body.categories_index #container .section-lv3 {
  margin: 5px;
}
body.categories_index #container .section-lv3 h3 a{
  color: #BF6000;
  font-weight: bold;
}
body.categories_index #container .section-lv3 ul {
  margin-top: 3px;
  margin-left: 8px;
}
body.categories_index #container .section-lv3 ul li{
  display: inline;
}
body.categories_index #container .section-lv3 h4 {
  display: inline;
  font-size: 85%;
  margin-left: 5px;
  line-height: 1.3;
}
/* categories_show */
body.categories_show #container .colmun {
  width: 370px;
  float:left;
  border: 1px solid #BF6000;
  display: inline;
}
body.categories_show #container #col1 {
  margin-left: 10px;
}
body.categories_show #container #col2 {
  margin-left: 20px;
}
body.categories_show #container .section-lv2 {
  margin: 6px;
  margin-bottom: 15px;
}
body.categories_show #container .section-lv2 h2 a{
  color: #BF6000;
  font-weight: bold;
}
body.categories_show #container .section-lv2 ul {
  margin-top: 3px;
  margin-left: 8px;
}
body.categories_show #container .section-lv2 ul li{
  display: inline;
}
body.categories_show #container .section-lv2 ul li h3  {
  display: inline;
  font-size: 90%;
  margin-left: 5px;
  line-height: 1.3;
}
/* questions_index */
body.questions_index #container .section-lv1 #state {
  width: 5em;
  text-align: center;
}
body.questions_index #container .section-lv1 #title {
  width: 38em;
}
body.questions_index div.state1 span,
body.questions_index div.state2 span,
body.questions_index div.state3 span {
  display: none;
}
body.questions_index .no_login {
  width: 15em;
}
/* questions_create */
/* questions_new */
/* questions_preview */
/* answers_create */
/* answers_new */
/* answers_preview */
body.questions_create #container .solid,
body.questions_new #container .solid,
body.questions_preview #container .solid,
body.answers_create #container .solid,
body.answers_new #container .solid,
body.answers_preview #container .solid,
body.answers_replay_edit #container .solid,
body.answers_replay_update #container .solid {
  width: 33em;
}
/* questions_show */
body.questions_show #container p {
  width: 45em;
  text-align: center;
  margin: 10px 0;
}
body.questions_show #container .button_wrap {
  float: left;
  width: 23em;
  text-align: center;
  margin: 10px 0;
}
body.questions_index #container .submit,
body.questions_show #container .submit {
  width: 15em;
}
body.questions_index #container .no_login,
body.questions_show #container .no_login {
  width: 20.5em;
}
/* questions_show */
/* answers_create */
/* answers_new */
/* answers_preview */
body.questions_show #container table,
body.answers_create #container table,
body.answers_new #container table,
body.answers_preview #container table {
  margin: 10px 0;
}
body.questions_show #container th,
body.answers_create #container th,
body.answers_new #container th,
body.answers_preview #container th {
  font-weight: bold;
  background-color: #BF5F00;
  color: #F0F0F0;
}
/* answers_create */
/* answers_new */
/* answers_preview */
body.answers_create #errorExplanation,
body.answers_new #errorExplanation,
body.answers_preview #errorExplanation {
  margin-top:10px;
  margin-bottom:10px;
}

/* sessions_new */
/* sessions_create */
body.sessions_new h2,
body.sessions_create h2 {
  margin-bottom: 10px;
}
body.sessions_new .section-lv2,
body.sessions_create .section-lv2 {
  margin-bottom: 25px;
}

/* footer */
#footer {
  padding-top:14px;
  font-size: 84%;
  line-height: 1.2;
}
#footer p, #footer ul {
  padding:8px 14px;
}
#footer ul {
  text-align: right;
  float:right;
}
#footer li {
  display: inline;
  margin-left: 5px;
}


