<%#*<p>%>
  <%#*<b>Content:</b>%>
  <%#=h @answer.content %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Supplement comment:</b>%>
  <%#=h @answer.supplement_comment %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Thanks comment:</b>%>
  <%#=h @answer.thanks_comment %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Url:</b>%>
  <%#=h @answer.url %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Kind:</b>%>
  <%#=h @answer.kind %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Confidence:</b>%>
  <%#=h @answer.confidence %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Character:</b>%>
  <%#=h @answer.character %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Can receive mail:</b>%>
  <%#=h @answer.can_receive_mail %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>User:</b>%>
  <%#=h @answer.user_id %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Question:</b>%>
  <%#=h @answer.question_id %>
<%#*</p>%>


<%#= link_to 'Edit', edit_answer_path(@answer) %> |
<%#= link_to 'Back', answers_path %>