<p>
  <b>Title:</b>
  <%=h @company_tmp_information.title %>
</p>
<p>
  <b>photos:</b>
  <% @company_tmp_information.photos.each do |photo| %>
    <%= image_tag(photo.public_filename)%>
  <%end%>
</p>

<%= link_to 'Edit', edit_company_tmp_information_path(@company_tmp_information) %> |
<%= link_to 'Back', company_tmp_informations_path %>